<!DOCTYPE HTML>
<html>

<head>
	<title>Soluge</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../css/main.css" />
</head>

<body class="no-sidebar is-preload">
    <div id="page-wrapper">

        <!-- Header -->
            <section id="header" class="wrapper">
                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="/dashboard">Home</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="/admin/getAllUsers">Users</a></li>
                        <li><a href="/admin/getAllExperts">Experts</a></li>
                        <li><a href="/admin/getAllAssignments">Assignments</a></li>
                        <li><a href="/expert/logout">Logout</a></li>
                    </ul>
                </nav>
            </section>

        <!-- Main -->
            <div id="main" class="wrapper style2">
                <div class="container">
                    <div id="content">
                        <article class="box post">
                            <header class="style1">
                                <table class="default">
                                    <tr>
                                        <th>S.No</th>
                                        <th>Username</th>
                                        <th>Assignment name</th>
                                        <th>Expert</th>
                                        <th>Upload Timestamp</th>
                                        <th>Due Date</th>
                                        <th>Solution</th>
                                    </tr>
                                    <% for(let i=0; i < assignments.length; i++) { %>
                                       <tr>
                                            <td><%= i+1 %></td>
                                            <td><%= assignments[i].username %></td>
                                            <td><a href=https://assignments-soluge.s3.us-east-2.amazonaws.com/assignments/<%= assignments[i].filename %> ><%= assignments[i].filename %></a></td>
                                            <td><%= assignments[i].expert_username %></td>
                                            <td><%= assignments[i].upload_timestamp %></td>
                                            <td><%= assignments[i].due_date %></td>
                                            <td><%= assignments[i].solution %></td>
                                       </tr>
                                    <% } %>
                                </table>
                            </header>
                        </article>
                    </div>
                </div>
            </div>

        <!-- Footer -->
            <section id="footer" class="wrapper">
                <!-- <div class="title">The Rest Of It</div> -->
                <div class="container">
                    <div id="copyright">
                        <ul>
                            <li>&copy; Soluge</li><li>All rights reserved.</a></li>
                        </ul>
                    </div>
                </div>
            </section>
    </div>

	<!-- Scripts -->
	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery.dropotron.min.js"></script>
	<script src="../js/browser.min.js"></script>
	<script src="../js/breakpoints.min.js"></script>
	<script src="../js/util.js"></script>
	<script src="../js/main.js"></script>

</body>

</html>