<!DOCTYPE HTML>
<html>

<head>
	<title>Soluge</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../css/main.css" />
</head>

<body class="no-sidebar is-preload">
    <div id="page-wrapper">

        <!-- Header -->
            <section id="header" class="wrapper">
                <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li><a href="/dashboard">Home</a></li>
                            <li><a href="/admin/profile">Profile</a></li>
                            <li><a href="/admin/getAllUsers">Users</a></li>
                            <li><a href="/admin/getAllExperts">Experts</a></li>
                            <li><a href="/admin/getAllAssignments">Assignments</a></li>
                            <li><a href="/admin/registerExpert">Register Expert</a></li>
                            <li><a href="/expert/logout">Logout</a></li>
                        </ul>
                    </nav>
            </section>

        <!-- Main -->
            <div id="main" class="wrapper style2">
                <!-- <div class="title">Latest Assignments</div> -->
                <div class="container">
                    <% include ./partials/messages %>
                    <div id="content">
                        <article class="box post">
                            <header class="style1" style="padding-top: 50px">
                                <% if(assignments.length) { %>
                                    <h2>Assign the assignments to the respective expert</h2>
                                    <hr>
                                    <table class="default">
                                        <tr>
                                            
                                            <th>Username</th>
                                            <th>Assignment</th>
                                            <th>Subject</th>
                                            <th>Upload Date</th>
                                            <th>Due date</th>
                                            <th>Expert Name</th>
                                            <th>Submit</th>
                                        </tr>
                                        <% for(let i=0; i < assignments.length; i++) { %>
                                           <tr>
                                                <td><%= assignments[i].username %></td>
                                                <td><a href="https://assignments-soluge.s3.us-east-2.amazonaws.com/assignments/"+ <%= assignments[i].filename %>><%= assignments[i].filename %></a></td>
                                                <td><%= assignments[i].subject %></td>
                                                <td><%= moment(assignments[i].upload_timestamp).format('Do MMM, YYYY')  %></td>
                                                <td><%= moment(assignments[i].due_date).format('Do MMM, YYYY')  %></td>
                                                <td>
                                                    <select name="expert" class="<%= assignments[i]._id %>">
                                                        <option value="0">- Select an expert -</option>
                                                        <% for(let i=0; i < experts.length; i++) { %>
                                                            <option value='<%= experts[i]._id%>' ><%= experts[i].username%></option>
                                                        <% } %>
                                                    </select>
                                                </td>
                                                <td><button class="submit-btn" id='<%= assignments[i]._id %>'>Submit</button></td>
                                           </tr>
                                        <% } %>
                                    </table>
                                <% } else { %>
                                    <hr>
                                    <h2>All assignments are assigned.</h2>
                                    <h2>No new assignments</h2>
                                    <hr>                                    
                                    <hr>
                                    <% }
                                %>
                            </header>
                        </article>
                    </div>
                </div>
            </div>

        <!-- Footer -->
            <section id="footer" class="wrapper">
                <div class="container">
                    <div id="copyright">
                        <ul>
                            <li>&copy; Soluge</li><li>All rights reserved.</a></li>
                        </ul>
                    </div>
                </div>
            </section>
    </div>
    
	<!-- Scripts -->
	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery.dropotron.min.js"></script>
	<script src="../js/browser.min.js"></script>
	<script src="../js/breakpoints.min.js"></script>
	<script src="../js/util.js"></script>
	<script src="../js/main.js"></script>

    <script>
        $('.submit-btn').click(function(){
            let expertName = document.getElementsByClassName(this.id)[0];

            let payload = {
                assignment_id : this.id,
                expert_id : expertName.value
            }
            var xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    location.reload();
                } else {
                   
                }
            };

            xhr.open('POST', '/admin/assignAssignment', true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.send(JSON.stringify(payload));
        })
    </script>
</body>

</html>